{% extends 'base.html.twig' %}

{% block title %}Reinitialisation de mot de passe{% endblock %}

{% block body %}
    <p>
        Si un compte correspondant à votre email existant, alors un email a été envoyé qui contient un lien que vous pouvez utiliser pour reinitialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'email, veuillez vérifier votre dossier de spam ou <a href="{{ path('app_forgot_password_request') }}">essayer à nouveau</a>.</p>
{% endblock %}
