{% extends 'base.html.twig' %}

{% block title %}Hello FormsController!{% endblock %}

{% block body %}



{% for produit in produits %}
    <p>{{produit.getNom()}}</p>
{% endfor %}






{% endblock %}
