{% extends 'base.html.twig' %}

{% block titre %}Hello FormsController!{% endblock %}

{% block contenu %}



{% for produit in produits %}
    <p>{{produit.getNom()}}</p>
{% endfor %}






{% endblock contenu %}