{% extends 'base.html.twig' %}

{% block titre %}Modifier une vente — Logix G-Stock{% endblock %}

{% block contenu %}
    <h1>Modifier une vente</h1>

    {{ include('vente/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vente_index') }}">Retour à la liste</a>

    {{ include('vente/_delete_form.html.twig') }}
{% endblock %}
