{% extends 'base.html.twig' %}

{% block titre %}Ajouter un client — Logix G-Stock{% endblock %}

{% block contenu %}

<h1>Ajouter un client</h1>

{{ form_start(form)}}
{{ form_widget(form)}}
{{ form_end(form)}}
<a href="{{ path('app_client') }}">Retour à la liste</a>

{% endblock %}
