{% extends 'base.html.twig' %}

{% block title %}Ajouter un achat{% endblock %}

{% block body %}
    <h1>Ajouter un achat</h1>

    {{ include('achat/_form.html.twig') }}

    <a href="{{ path('app_achat_index') }}">Retour à la liste</a>
{% endblock %}
